.blue{
    background-color: darkblue;
    
}
.name{
    color: white;
    height: 20px;
}
.nav-item{
    color: white;
}
h1{
    color: white;
    padding-bottom: 20px;
}
.lead{
    color: white;
    padding-bottom: 210px;
}
.pro{
    color: white;
}
h2{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 100px;
    padding-bottom: 10px ;
    text-align: center;
    font-weight: bolder;
}
.right{
    text-align: right;
    /* padding-left: 100px; */
}
.left{
    padding-left: 180px;
}
.foot{
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.footer{
    display: flex;
    justify-content: center;

}
.gap{
    padding-right: 80px;
}
h3{
    font-size: 40px;
    padding-bottom: 20px;
}
.last{
    background-color: darkblue;
    margin: 0%;
    padding: 0%;
    min-width: 100%;
}